$body-background-color: #eee;
$wrapper-background-color: #fff;
$wrapper-width: 70%;
$title-top-gutter: 40px;
$form-top-gutter: 30px;

.app-home {
  background-color: $body-background-color;

  &-background-image {
    max-width: 100%;
  }

  &-wrapper {
    background-color: $wrapper-background-color;
    width: $wrapper-width;
    align-self: center;

    &-title {
      font-weight: bold;
      margin-top: $title-top-gutter;
    }

    &-form {
      margin-top: $form-top-gutter;
      width: 100%;

      mat-form-field {
        width: 40%;
      }

      button {
        margin-left: 20px;
      }
    }
  }
}
